* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding-top: 20px;
}

main {
  margin-top: 40px;
  text-align: center;
}
main > img {
  width: 200px;
  height: auto;
}
main > form {
  margin-top: 20px;
}
main > form > input {
  width: 300px;
  padding: 5px;
}
main > form > p {
  color: red;
  display: none;
}
main > form > button {
  padding: 5px;
  width: 80px;
}
main > .main-repos {
  margin-top: 40px;
}
main > .main-repos > .main-repos-table {
  text-align: left;
  width: 100%;
}
main > .main-repos > .main-repos-table > .repos-table-header {
  font-weight: 700;
}
main > .main-repos > .main-repos-table > .repos-table-header > tr {
  background-color: rgb(141, 175, 238);
}
main > .main-repos > .main-repos-table > .repos-table-header > tr > td {
  width: 28%;
  padding: 10px;
  padding-bottom: 20px;
}
main > .main-repos > .main-repos-table > .repos-table-header > tr > td:nth-child(2) {
  width: 16%;
}
main > .main-repos > .main-repos-table > .repos-table-items {
  width: 28%;
  font-weight: 400;
}
main > .main-repos > .main-repos-table > .repos-table-items > tr:nth-child(even) {
  background-color: rgb(201, 216, 244);
}
main > .main-repos > .main-repos-table > .repos-table-items > tr > td {
  padding: 10px;
  padding-bottom: 20px;
}
main > .main-repos > .main-repos-table > .repos-table-items > tr > td:nth-child(2) {
  width: 16%;
}